---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-3-3"></a> v3.3.3

**Release date: 29 November 2023**

### Features

There are no new features for this release.

### Resolved issues

This release has the following fix:

* **Resolved large backups failing to upload for azure storage:** Now successfully upload backups greater than 4&nbsp;MB to Azure storage.

### Security fixes

This release includes the following security fixes:

* [CVE-2009-5155](https://nvd.nist.gov/vuln/detail/CVE-2009-5155)

* [CVE-2020-10029](https://nvd.nist.gov/vuln/detail/CVE-2020-10029)

* [CVE-2020-1751](https://nvd.nist.gov/vuln/detail/CVE-2020-1751)

* [CVE-2020-1752](https://nvd.nist.gov/vuln/detail/CVE-2020-1752)

* [CVE-2020-27618](https://nvd.nist.gov/vuln/detail/CVE-2020-27618)

* [CVE-2020-29562](https://nvd.nist.gov/vuln/detail/CVE-2020-29562)

* [CVE-2020-29573](https://nvd.nist.gov/vuln/detail/CVE-2020-29573)

* [CVE-2020-6096](https://nvd.nist.gov/vuln/detail/CVE-2020-6096)

* [CVE-2021-27645](https://nvd.nist.gov/vuln/detail/CVE-2021-27645)

* [CVE-2021-3326](https://nvd.nist.gov/vuln/detail/CVE-2021-3326)

* [CVE-2021-33574](https://nvd.nist.gov/vuln/detail/CVE-2021-33574)

* [CVE-2021-35942](https://nvd.nist.gov/vuln/detail/CVE-2021-35942)

* [CVE-2021-38604](https://nvd.nist.gov/vuln/detail/CVE-2021-38604)

* [CVE-2021-3998](https://nvd.nist.gov/vuln/detail/CVE-2021-3998)

* [CVE-2021-3999](https://nvd.nist.gov/vuln/detail/CVE-2021-3999)

* [CVE-2021-43396](https://nvd.nist.gov/vuln/detail/CVE-2021-43396)

* [CVE-2022-39046](https://nvd.nist.gov/vuln/detail/CVE-2022-39046)

* [CVE-2023-0687](https://nvd.nist.gov/vuln/detail/CVE-2023-0687)

* [CVE-2023-25139](https://nvd.nist.gov/vuln/detail/CVE-2023-25139)

* [CVE-2023-4527](https://nvd.nist.gov/vuln/detail/CVE-2023-4527)

* [CVE-2023-4806](https://nvd.nist.gov/vuln/detail/CVE-2023-4806)

* [CVE-2023-4813](https://nvd.nist.gov/vuln/detail/CVE-2023-4813)

* [CVE-2023-4911](https://nvd.nist.gov/vuln/detail/CVE-2023-4911)

* [CVE-2023-5156](https://nvd.nist.gov/vuln/detail/CVE-2023-5156)

* [CVE-2023-24532](https://nvd.nist.gov/vuln/detail/CVE-2023-24532)

* [CVE-2023-24534](https://nvd.nist.gov/vuln/detail/CVE-2023-24534)

* [CVE-2023-24536](https://nvd.nist.gov/vuln/detail/CVE-2023-24536)

* [CVE-2023-24537](https://nvd.nist.gov/vuln/detail/CVE-2023-24537)

* [CVE-2023-24539](https://nvd.nist.gov/vuln/detail/CVE-2023-24539)

* [CVE-2023-24540](https://nvd.nist.gov/vuln/detail/CVE-2023-24540)

* [CVE-2023-29400](https://nvd.nist.gov/vuln/detail/CVE-2023-29400)

* [CVE-2023-29402](https://nvd.nist.gov/vuln/detail/CVE-2023-29402)

* [CVE-2023-29403](https://nvd.nist.gov/vuln/detail/CVE-2023-29403)

* [CVE-2023-29404](https://nvd.nist.gov/vuln/detail/CVE-2023-29404)

* [CVE-2023-29405](https://nvd.nist.gov/vuln/detail/CVE-2023-29405)

* [CVE-2023-29406](https://nvd.nist.gov/vuln/detail/CVE-2023-29406)

* [CVE-2023-29409](https://nvd.nist.gov/vuln/detail/CVE-2023-29409)

* [CVE-2023-39318](https://nvd.nist.gov/vuln/detail/CVE-2023-39318)

* [CVE-2023-39319](https://nvd.nist.gov/vuln/detail/CVE-2023-39319)

* [CVE-2023-39323](https://nvd.nist.gov/vuln/detail/CVE-2023-39323)

* [CVE-2023-24534](https://nvd.nist.gov/vuln/detail/CVE-2023-24534)

* [CVE-2023-24536](https://nvd.nist.gov/vuln/detail/CVE-2023-24536)

* [CVE-2023-24537](https://nvd.nist.gov/vuln/detail/CVE-2023-24537)

* [CVE-2023-24538](https://nvd.nist.gov/vuln/detail/CVE-2023-24538)

* [CVE-2023-24539](https://nvd.nist.gov/vuln/detail/CVE-2023-24539)

* [CVE-2023-24540](https://nvd.nist.gov/vuln/detail/CVE-2023-24540)

* [CVE-2023-29400](https://nvd.nist.gov/vuln/detail/CVE-2023-29400)

* [CVE-2023-29402](https://nvd.nist.gov/vuln/detail/CVE-2023-29402)

* [CVE-2023-29403](https://nvd.nist.gov/vuln/detail/CVE-2023-29403)

* [CVE-2023-29404](https://nvd.nist.gov/vuln/detail/CVE-2023-29404)

* [CVE-2023-29405](https://nvd.nist.gov/vuln/detail/CVE-2023-29405)

* [CVE-2023-29406](https://nvd.nist.gov/vuln/detail/CVE-2023-29406)

* [CVE-2023-29409](https://nvd.nist.gov/vuln/detail/CVE-2023-29409)

* [CVE-2023-39318](https://nvd.nist.gov/vuln/detail/CVE-2023-39318)

* [CVE-2023-39319](https://nvd.nist.gov/vuln/detail/CVE-2023-39319)

* [CVE-2023-39323](https://nvd.nist.gov/vuln/detail/CVE-2023-39323)

* [CVE-2023-39318](https://nvd.nist.gov/vuln/detail/CVE-2023-39318)

* [CVE-2023-39319](https://nvd.nist.gov/vuln/detail/CVE-2023-39319)

* [CVE-2023-39323](https://nvd.nist.gov/vuln/detail/CVE-2023-39323)

* [CVE-2023-39323](https://nvd.nist.gov/vuln/detail/CVE-2023-39323)

* [CVE-2023-39323](https://nvd.nist.gov/vuln/detail/CVE-2023-39323)

* [CVE-2015-8863](https://nvd.nist.gov/vuln/detail/CVE-2015-8863)

* [CVE-2016-4074](https://nvd.nist.gov/vuln/detail/CVE-2016-4074)

* [CVE-2019-6706](https://nvd.nist.gov/vuln/detail/CVE-2019-6706)

* [CVE-2020-15888](https://nvd.nist.gov/vuln/detail/CVE-2020-15888)

* [CVE-2020-15945](https://nvd.nist.gov/vuln/detail/CVE-2020-15945)

* [CVE-2020-24342](https://nvd.nist.gov/vuln/detail/CVE-2020-24342)

* [CVE-2020-24369](https://nvd.nist.gov/vuln/detail/CVE-2020-24369)

* [CVE-2020-24370](https://nvd.nist.gov/vuln/detail/CVE-2020-24370)

* [CVE-2020-24371](https://nvd.nist.gov/vuln/detail/CVE-2020-24371)

* [CVE-2021-44647](https://nvd.nist.gov/vuln/detail/CVE-2021-44647)

* [CVE-2022-28805](https://nvd.nist.gov/vuln/detail/CVE-2022-28805)

* [CVE-2022-33099](https://nvd.nist.gov/vuln/detail/CVE-2022-33099)

* [CVE-2023-0464](https://nvd.nist.gov/vuln/detail/CVE-2023-0464)

* [CVE-2023-0465](https://nvd.nist.gov/vuln/detail/CVE-2023-0465)

* [CVE-2023-0466](https://nvd.nist.gov/vuln/detail/CVE-2023-0466)

* [CVE-2023-2650](https://nvd.nist.gov/vuln/detail/CVE-2023-2650)

* [CVE-2023-3446](https://nvd.nist.gov/vuln/detail/CVE-2023-3446)

* [CVE-2023-3817](https://nvd.nist.gov/vuln/detail/CVE-2023-3817)

* [CVE-2023-4807](https://nvd.nist.gov/vuln/detail/CVE-2023-4807)

* [CVE-2023-27043](https://nvd.nist.gov/vuln/detail/CVE-2023-27043)

* [CVE-2023-33595](https://nvd.nist.gov/vuln/detail/CVE-2023-33595)

* [CVE-2023-36632](https://nvd.nist.gov/vuln/detail/CVE-2023-36632)

* [CVE-2023-40217](https://nvd.nist.gov/vuln/detail/CVE-2023-40217)

* [CVE-2023-41105](https://nvd.nist.gov/vuln/detail/CVE-2023-41105)

* [CVE-2018-18074](https://nvd.nist.gov/vuln/detail/CVE-2018-18074)

* [CVE-2023-32681](https://nvd.nist.gov/vuln/detail/CVE-2023-32681)

* [CVE-2023-32681](https://nvd.nist.gov/vuln/detail/CVE-2023-32681)

* [CVE-2022-40897](https://nvd.nist.gov/vuln/detail/CVE-2022-40897)

* [CVE-2018-20060](https://nvd.nist.gov/vuln/detail/CVE-2018-20060)

* [CVE-2019-11236](https://nvd.nist.gov/vuln/detail/CVE-2019-11236)

* [CVE-2019-11324](https://nvd.nist.gov/vuln/detail/CVE-2019-11324)

* [CVE-2020-26137](https://nvd.nist.gov/vuln/detail/CVE-2020-26137)

* [CVE-2021-33503](https://nvd.nist.gov/vuln/detail/CVE-2021-33503)

* [CVE-2023-43804](https://nvd.nist.gov/vuln/detail/CVE-2023-43804)

* [CVE-2023-43804](https://nvd.nist.gov/vuln/detail/CVE-2023-43804)

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>1.301</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0, 5.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.42</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.45.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.284.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.33</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.9</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.7.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.11</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.53.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-3-2"></a> v3.3.2

**Release date: 18 October 2023**

### Features

New features and changes in this release:

* **<%= vars.app_runtime_full %> compatibility:** This release is compatible with <%= vars.app_runtime_abbr %> v5.0.

* **Stemcell compatibility:** This release is compatible with Ubuntu Jammy Stemcell.

### Security fixes

This release includes the following security fixes:

* [CVE-2023-39325](https://nvd.nist.gov/vuln/detail/CVE-2023-39325)

* [CVE-2023-29406](https://nvd.nist.gov/vuln/detail/CVE-2023-29406)

* [CVE-2018-25091](https://nvd.nist.gov/vuln/detail/CVE-2018-25091)

* [CVE-2023-44487](https://nvd.nist.gov/vuln/detail/CVE-2023-44487)

* [CVE-2023-39320](https://nvd.nist.gov/vuln/detail/CVE-2023-39320)

* [CVE-2023-39321](https://nvd.nist.gov/vuln/detail/CVE-2023-39321)

* [CVE-2023-39322](https://nvd.nist.gov/vuln/detail/CVE-2023-39322)

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table class=“table”>
<thead>
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>1.250</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0, 5.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.40</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.44.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.281.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.32</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.7</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.8</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.49.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-3-1"></a> v3.3.1

**Release date: 06 September 2023**

### Features

There are no new features for this release.

### Resolved issues

This release has the following fix:

* **Resolved large backups failing to upload:** Backups greater than 5&nbsp;GB now
successfully upload to AWS S3 buckets.

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.655</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.278.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.31</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.6</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.6</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.45.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-3-0"></a> v3.3.0

**Release date: 10 August 2023**

### Features

New features and changes in this release:

* **VM extensions:** A new field for service plans enables operators to
  configure a list of custom VM extensions that apply to VMs for service
  instances created by using the plan.

### Known issues

This release has the following known issues:

* **Large backups fail to upload:** Backups fail to upload to AWS S3 buckets if their size is greater than 5&nbsp;GB.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.463</td>
</tr>
</thead>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.265.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.30</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.5</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.3.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.5</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.45.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
