---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-3-2"></a> v3.3.2

**Release date: 18 October 2023**

### Features

New features and changes in this release:

* **<%= vars.app_runtime_full %> compatibility:** This release is compatible with <%= vars.app_runtime_abbr %> v5.0.

* **Stemcell compatibility:** This release is compatible with Ubuntu Jammy Stemcell.

### Security fixes

This release includes the following security fixes:

* [CVE-2023-39325](https://nvd.nist.gov/vuln/detail/CVE-2023-39325)

* [CVE-2023-29406](https://nvd.nist.gov/vuln/detail/CVE-2023-29406)

* [CVE-2018-25091](https://nvd.nist.gov/vuln/detail/CVE-2018-25091)

* [CVE-2023-44487](https://nvd.nist.gov/vuln/detail/CVE-2023-44487)

* [CVE-2023-39320](https://nvd.nist.gov/vuln/detail/CVE-2023-39320)

* [CVE-2023-39321](https://nvd.nist.gov/vuln/detail/CVE-2023-39321)

* [CVE-2023-39322](https://nvd.nist.gov/vuln/detail/CVE-2023-39322)

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table class=“table”>
<thead>
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>1.250</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0, 5.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.40</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.44.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.281.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.32</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.7</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.8</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.49.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-3-1"></a> v3.3.1

**Release date: 06 September 2023**

### Features

There are no new features for this release.

### Resolved issues

This release has the following fix:

* **Resolved large backups failing to upload:** Backups greater than 5&nbsp;GB now
successfully upload to AWS S3 buckets.

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.655</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.278.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.31</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.6</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.6</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.45.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-3-0"></a> v3.3.0

**Release date: 10 August 2023**

### Features

New features and changes in this release:

* **VM extensions:** A new field for service plans enables operators to
  configure a list of custom VM extensions that apply to VMs for service
  instances created by using the plan.

### Known issues

This release has the following known issues:

* **Large backups fail to upload:** Backups fail to upload to AWS S3 buckets if their size is greater than 5&nbsp;GB.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.463</td>
</tr>
</thead>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.265.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.30</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.5</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.3.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.5</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.45.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
