---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-2-3"></a> v3.2.4

**Release date: 18 October 2023**

### Features

There are no new features for this release.

### Resolved issues

This release has the following fix:

* This release is compatible with Tanzu Application Service for VMs v5.0.

* This release is compatible with Ubuntu Jammy Stemcell.

* This release updates ginkgo from version 1 to version 2.

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>1.250</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0, 5.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.40</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.44.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.281.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.32</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.7</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.8</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.49.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-2-3"></a> v3.2.3

**Release date: 06 September 2023**

### Features

There are no new features for this release.

### Resolved issues

This release has the following fix:

* **Resolved large backups failing to upload:** Backups greater than 5&nbsp;GB now
successfully upload to AWS S3 buckets.

### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.655</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.278.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.31</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.6</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.6.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.6</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.45.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-2-2"></a> v3.2.2

**Release date: 10 August 2023**

### Security fixes

This release includes the following security fixes:

* [CVE-2007-4559](https://nvd.nist.gov/vuln/detail/CVE-2007-4559)

* [CVE-2015-20107](https://nvd.nist.gov/vuln/detail/CVE-2015-20107)

* [CVE-2017-17522](https://nvd.nist.gov/vuln/detail/CVE-2017-17522)

* [CVE-2017-20052](https://nvd.nist.gov/vuln/detail/CVE-2017-20052)

* [CVE-2018-1000117](https://nvd.nist.gov/vuln/detail/CVE-2018-1000117)

* [CVE-2018-25032](https://nvd.nist.gov/vuln/detail/CVE-2018-25032)

* [CVE-2019-16056](https://nvd.nist.gov/vuln/detail/CVE-2019-16056)

* [CVE-2019-16935](https://nvd.nist.gov/vuln/detail/CVE-2019-16935)

* [CVE-2019-20477](https://nvd.nist.gov/vuln/detail/CVE-2019-20477)

* [CVE-2019-20478](https://nvd.nist.gov/vuln/detail/CVE-2019-20478)

* [CVE-2019-20916](https://nvd.nist.gov/vuln/detail/CVE-2019-20916)

* [CVE-2020-14343](https://nvd.nist.gov/vuln/detail/CVE-2020-14343)

* [CVE-2020-15523](https://nvd.nist.gov/vuln/detail/CVE-2020-15523)

* [CVE-2020-1747](https://nvd.nist.gov/vuln/detail/CVE-2020-1747)

* [CVE-2020-27619](https://nvd.nist.gov/vuln/detail/CVE-2020-27619)

* [CVE-2020-28366](https://nvd.nist.gov/vuln/detail/CVE-2020-28366)

* [CVE-2020-28367](https://nvd.nist.gov/vuln/detail/CVE-2020-28367)

* [CVE-2020-29509](https://nvd.nist.gov/vuln/detail/CVE-2020-29509)

* [CVE-2020-29510](https://nvd.nist.gov/vuln/detail/CVE-2020-29510)

* [CVE-2020-29511](https://nvd.nist.gov/vuln/detail/CVE-2020-29511)

* [CVE-2020-36242](https://nvd.nist.gov/vuln/detail/CVE-2020-36242)

* [CVE-2021-29923](https://nvd.nist.gov/vuln/detail/CVE-2021-29923)

* [CVE-2021-3115](https://nvd.nist.gov/vuln/detail/CVE-2021-3115)

* [CVE-2021-3177](https://nvd.nist.gov/vuln/detail/CVE-2021-3177)

* [CVE-2021-33194](https://nvd.nist.gov/vuln/detail/CVE-2021-33194)

* [CVE-2021-33195](https://nvd.nist.gov/vuln/detail/CVE-2021-33195)

* [CVE-2021-4189](https://nvd.nist.gov/vuln/detail/CVE-2021-4189)

* [CVE-2021-44717](https://nvd.nist.gov/vuln/detail/CVE-2021-44717)

* [CVE-2021-45960](https://nvd.nist.gov/vuln/detail/CVE-2021-45960)

* [CVE-2021-46143](https://nvd.nist.gov/vuln/detail/CVE-2021-46143)

* [CVE-2022-0391](https://nvd.nist.gov/vuln/detail/CVE-2022-0391)

* [CVE-2022-22822](https://nvd.nist.gov/vuln/detail/CVE-2022-22822)

* [CVE-2022-22823](https://nvd.nist.gov/vuln/detail/CVE-2022-22823)

* [CVE-2022-22824](https://nvd.nist.gov/vuln/detail/CVE-2022-22824)

* [CVE-2022-22825](https://nvd.nist.gov/vuln/detail/CVE-2022-22825)

* [CVE-2022-22826](https://nvd.nist.gov/vuln/detail/CVE-2022-22826)

* [CVE-2022-22827](https://nvd.nist.gov/vuln/detail/CVE-2022-22827)

* [CVE-2022-23806](https://nvd.nist.gov/vuln/detail/CVE-2022-23806)

* [CVE-2022-23990](https://nvd.nist.gov/vuln/detail/CVE-2022-23990)

* [CVE-2022-25235](https://nvd.nist.gov/vuln/detail/CVE-2022-25235)

* [CVE-2022-25236](https://nvd.nist.gov/vuln/detail/CVE-2022-25236)

* [CVE-2022-25314](https://nvd.nist.gov/vuln/detail/CVE-2022-25314)

* [CVE-2022-25315](https://nvd.nist.gov/vuln/detail/CVE-2022-25315)

* [CVE-2022-28805](https://nvd.nist.gov/vuln/detail/CVE-2022-28805)

* [CVE-2022-29526](https://nvd.nist.gov/vuln/detail/CVE-2022-29526)

* [CVE-2023-29402](https://nvd.nist.gov/vuln/detail/CVE-2023-29402)

* [CVE-2023-29403](https://nvd.nist.gov/vuln/detail/CVE-2023-29403)

* [CVE-2023-29404](https://nvd.nist.gov/vuln/detail/CVE-2023-29404)

* [CVE-2023-29405](https://nvd.nist.gov/vuln/detail/CVE-2023-29405)

* [CVE-2023-29406](https://nvd.nist.gov/vuln/detail/CVE-2023-29406)

* [CVE-2023-32643](https://nvd.nist.gov/vuln/detail/CVE-2023-32643)


### Resolved issues

This release has the following fixes:

* **Smoke tests errand error:** When running the Shared-VM and On-Demand smoke tests errand, tests no longer enable public access to Redis private plans when running the command `cf service-access`.

### Known issues

This release has the following known issues:

* **Large backups fail to upload:** Backups fail to upload to AWS S3 buckets if their size is greater than 5&nbsp;GB.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.615</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.38</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.265.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.30</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.5</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.4.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.5</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.13</td>
</tr>
</table>

## <a id="3-2-1"></a> v3.2.1

**Release date: 08 June 2023**

### Resolved issues

This release has the following fixes:

* This release is compatible with Tanzu Application Service for VMs v4.0.

* **Smoke tests errand error:** When running the Shared-VM and On-Demand smoke tests errand, the service access to the Redis plans no longer appears as limited when running the command `cf service-access`.

### Known issues

This release has the following known issues:

* **Smoke tests errand error:** When running the Shared-VM and On-Demand smoke tests errand, private Redis plans change to public Redis plans.


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.463</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.36</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.7</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.265.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.28</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.2.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.7</td>
</tr>
</table>

## <a id="3-2-0"></a> v3.2.0

**Release date: 19 April 2023**

### Features

New features and changes in this release:

* **Service-gateway access** Service-gateway access enables a <%= vars.product_short %> on-demand service instance to connect to external components that are not on the same foundation as the service instance. These components might be on another foundation or hosted outside of the foundation. For more information, see [Service-Gateway Access](service-gateway-access.html).

* **Backups for AWS S3 with CA Certificate** When selecting AWS S3 option for backups, now the connection can be verified with a CA Certificate that you enter.

### Resolved Issues

This release has the following fixes:

* **Single AZ only:** Made the necessary adjustments to the `cf-redis-broker` configuration to ensure that it runs as a singleton job.

   This fix might cause the Availability Zones (AZs) for the VM to be changed. This only affects the Shared-VM. As a result, an orphaned disk might occur. For instructions on how to reattach the disk, see the [BOSH documentation](https://bosh.io/docs/persistent-disks/#orphaned-disks).

* **loggr-syslog-agent drain certificate:** Added `drain_ca.crt` to the broker so that `loggr-syslog-agent` can pull the certificate for trust purposes.

* **Ruby Buildpack in smoke test errand:** The smoke tests errand no longer fails with Ruby Buildpack v1.9.x and v1.10.x.

### Known Issues

This release has the following known issues:

* **Smoke tests errand error:** When running the Shared-VM and On-Demand smoke tests errand, Redis plans change to `limited` access.

* The fix **Single AZ only** might cause the Availability Zones (AZs) for the VM to be changed. This only affects the Shared-VM. As a result, an orphaned disk might occur. For instructions on how to reattach the disk, see the [BOSH documentation](https://bosh.io/docs/persistent-disks/#orphaned-disks).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.463</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.35</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.7</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.261.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.26</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.1.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.21</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.7</td>
</tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
